@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
html{
box-sizing: border-box;
}

body{
    overflow: hidden;
    padding: 24px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.all{
    display: grid;
    gap: 4rem;
}
.all>h1{
font-size: 1.5rem;
}

.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}

img{
    width: 500px;
}
.hero  h1{
    font-size: 3rem;
    /* letter-spacing: 10px; */
    line-height: 70px;
}

.hero p{
    width: 350px;
    font-size: 1.5rem;
}

button{
    background-color: #333333;
    color: white;
    padding: 24px 43px;
    outline: none;
    border: none;
}

.all>p{
    place-self: center;
    color: rgb(119, 116, 116);
}
.all>p a{
 font-weight: bold;
    color: rgb(43, 42, 42);
}

@media(max-width:700px){
    body{
        overflow-y: auto;
    }
    .hero{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media(max-width:950px){
    body{
        overflow-y: auto;
    }
    .all>h1{
        font-size: 1.2rem;
    }

    img{
      width: 400px;
    }
    .hero  h1{
        font-size: 2rem;
        line-height: 40px;
    }
    
    .hero p{
        width: 270px;
        font-size: 1rem;
    }

    button{
        padding: 18px 30px;

    }
}